<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <form-input 
      label="Phone" 
      type="text" 
      id="cellphone" 
      [(ngModel)]="cellphone" 
      name="cellphone" 
      [mask]="'(00) 00000-0000'" 
      #cellphoneInput="ngModel"
      [required]="true" 
      placeholder="Enter your phone number" 
      [minlength]="11"
      [maxlength]="15">
    </form-input>
  
    <form-input 
      label="Password" 
      type="password" 
      id="password" 
      [(ngModel)]="password" 
      placeholder="Enter your password" 
      name="password" 
      #passwordInput="ngModel"
      [minlength]="6" 
      
      [required]="true">
    </form-input>

    <main-button [isDisabled]="loginForm.invalid" [title]="'Login'" [buttonType]="'submit'"></main-button>
  </form>
</div>
